
#aboutus{
    margin-top: 5%;
}
#form{
    float: right;
    margin-left: 64%;
    text-align: center;
    margin-top: 20%;
    width: 28%;
    background-color: #98C1D9;
    border-radius: 10px;
    padding: 2% 4% 5% 4%;
    border: 2px solid #00296bd5;

    position: fixed;
}
#information{
    width: 60%;
    float: left;    
    position: fixed;
    border-radius: 10px;
    padding-right: 3%;
    padding-bottom: 2.3%;
    padding-left: 1%;
    border: 2px solid #00296bd5;
    font-size:160%;
    background-color: #98C1D9;
    text-align: center;
}

#information h3, p{
    color: #3d3b46
}
    #information p{
    text-align: left;
}
#form h3 {
    color: #3d3b46;
}
#form label{
    float:left;
}
#form button{
    margin-top: 5%;
}
#form input, select {
    width: 100%;
    margin-top: 1%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  @media screen and (max-width: 770px) {
        #information{
            width:100%;
            margin: 0;
            font-size: 10px;
            margin-top: 5%;
        }
        #aboutus{
            overflow-y: scroll;
        }
        #form{
            font-size:13px;
            padding-right: 5%;
            padding:0;
            height: 100%;
            width:100%;
            margin: 0;
            margin-top: 49%;

        }
        #form input,select, label {
            width: 70%;
            height: 1rem;
            display: block;
            margin-left: 10%;
        }
    }