.page{
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  overflow-x: hidden;
}
#homepage{
  background-image: url("../static/home.jpeg");

}
#homepage p, a {
    font-size: 25px;
    color: #FEFAE0;
}
#homepage a{
  text-decoration: none;
  color: #90DDF0;
}
.welcomeBlock{
    margin-top: 5%;
    height: 40%;
    padding: 1% 3% 4% 3%;
    border-radius: 10px;
    width: 30%;
    background-color: rgba(41, 41, 41, 0.301);
  }


  .title{
    color: #00296b;
    text-align: center;
  }

  .homeBottom {
    padding: 1% 2% 4% 2%;
    width: 33%;
    height: 60%;
    border-radius: 10px;
    margin-left: 65%;
    background-color: #2d2c2e42;
  }
  @media screen and (max-width: 770px) {
    .page{
      display: block;
    }
    .welcomeBlock{
      width: 100%;
      margin: 0;
      margin-top: 10%;
    }
    .welcomeBlock p{
      font-size: 12px;
    }
    .title{
      font-size: 20px;
    }
    .homeBottom{
      margin: 0;
      width: 100%;
      position: fixed;
      margin-right: 25%;
    }
  }