.search{
    margin-top: 2%;
    text-align: center; 
}

.search input, button{
    padding: 0.5%;
    height: 10%;
}
.search button{
    margin-left: 1%;
    width: 5%;
    background-color: #352D39;
    color: #FFBA70;
}
.search input{
    width: 20%;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
      margin-left: 15%;
      margin-bottom: 1%;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    height: 100px;
    background-color: #f1f1f1;
  }
  .cards{
      margin-top: 1%;
      margin-left: 15%;
      text-align: center;
  }